<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='StyleSheet'>
    <link rel="stylesheet" type="text/css" href="static/CSS/StyleSheet.css">
    <title>Search Recipe</title>
</head>

<!-- LAYOUT THE PAGE AS DESIRED -->
<body class="visual">

        <div class="content">

            <!-- PAGE TITLE -->
            <div class="upper"><br><br>
                <h1>Search for a Recipe</h1><br>
            </div>

            <!-- DISPLAY FLASH MESSAGES IF ANY -->
            <br><br><br>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}

            <div class="lower">
                <h2>Please Search for a Recipe</h2>

                <!-- ASK FOR KEYWORD AND PASS TO MAIN.PY -->
                <form action="/searchRecipeAction"  method="post">
                    <label for="keyword">Enter Keyword:  </label> <input type="text" placeholder="Enter Keyword" id="keyword" name="keyword" required><br><br>
                    <input type="submit" value="Search">
                </form>

                <br><br><br><br>
                <hr><br><br>
                <a href="/profile"><button>Back to Profile</button></a>
                <br><br><br><br>

            </div>

        </div>

        <br><br><br><br>
    </body>

</html>